<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Site name</title>
    <div th:insert="fragments/head :: head"></div>

</head>
<body>
<div th:insert="fragments/header :: header"></div>

<section>
    <div class="container">
        <div class="row mt-2">
            <div class="col">
                <div th:if="${message}" th:text="${message}" class="alert alert-primary" role="alert" />
                <div class="fixed-side">
                    <a type="button" class="btn btn-primary 60 add-new"
                       th:href="@{/add-car}">Add
                        new car
                    </a>
                </div>
                <table class="table mt-2">
                    <thead>
                    <tr>
                        <!--<th scope="col">#</th>-->
                        <th scope="col">#</th>
                        <th scope="col">Car maker</th>
                        <th scope="col">Car model</th>
                        <th scope="col">Model year</th>
                        <th scope="col">Actions</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr scopr="row" th:each="car: ${cars}">
                        <!--<td th:text="${member.id}">id</td>-->
                        <td th:text="${car.id}">id</td>
                        <td th:text="${car.carMaker}">car_maker</td>
                        <td th:text="${car.carModel}">car_model</td>
                        <td th:text="${car.carModelYear}">car_model_year</td>
                        <td>

                            <input type="hidden" id="carId" th:value="${car.id}">
                            <a type="button" th:href="@{'/view-car/'+${car.id}}"
                               class="btn btn-info rounded-5 btn-sm p-1 edit">
                                <i class="bi bi-eye"></i>
                            </a>
                            <a type="button" th:href="@{'/edit-car/'+${car.id}+'/'+${currentPage}}"
                               class="btn btn-primary rounded-5 btn-sm p-1 edit">
                                <i class="bi bi-pen"></i>
                            </a>

                            <a sec:authorize="hasAnyAuthority('ADMIN')"
                               th:href="@{'/cars/delete/'+${car.id}}"
                               onclick="return confirm('Are you sure ?')"
                               class="btn btn-danger rounded-5 btn-sm  p-1 delete">
                                <i class="bi bi-archive"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item" th:classappend="${currentPage == 1} ? disabled : ''">
                        <a class="page-link" th:href="@{'/cars/page/1'}">
                            <span aria-hidden="true">First</span>
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${currentPage == 1} ? disabled : ''">
                        <a class="page-link" href="#" aria-label="Previous"
                           th:if="${currentPage <= totalPages}" th:href="@{'/cars/page/' + ${currentPage - 1}}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <th:block th:if="${totalPages > 10}">
                        <th:block th:if="${currentPage <= 5 || currentPage >= totalPages - 4}">
                            <li class="page-item"
                                th:each="i: ${#numbers.sequence(1, 5)}"
                                th:classappend="${currentPage==i} ? active : ''">
                                <a class="page-link" th:href="@{'/cars/page/' + ${i}}">[[${i}]]</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" th:href="@{'/cars/page/6'}">...</a>
                            </li>

                            <li class="page-item"
                                th:each="i: ${#numbers.sequence(totalPages - 4, totalPages)}"
                                th:classappend="${currentPage==i} ? active : ''">
                                <a class="page-link" th:href="@{'/cars/page/' + ${i}}">[[${i}]]</a>
                            </li>
                        </th:block>

                        <th:block th:if="${currentPage > 5 && currentPage < totalPages - 4}">
                            <li class="page-item">
                                <a class="page-link" th:href="@{'/cars/page/' + ${currentPage - 5}}">...</a>
                            </li>

                            <li class="page-item"
                                th:each="i: ${#numbers.sequence(currentPage - 4 , currentPage + 4)}"
                                th:classappend="${currentPage==i} ? active : ''">
                                <a class="page-link" th:href="@{'/cars/page/' + ${i}}">[[${i}]]</a>
                            </li>


                            <li class="page-item">
                                <a class="page-link" th:href="@{'/cars/page/' + ${currentPage + 5}}">...</a>
                            </li>
                        </th:block>
                    </th:block>

                    <th:block th:if="${totalPages <= 10}">
                        <li class="nav-item"
                            th:each="i : ${#numbers.sequence(1, totalPages)}">
                            <a class="page-link" th:href="@{'/cars/page/' + ${i}}"
                               th:classappend="${currentPage}==${i}?'active':''">[[${i}]]</a>

                        </li>
                    </th:block>


                    <li class="page-item" th:classappend="${currentPage >= totalPages} ? disabled : ''">
                        <a class="page-link" href="#" aria-label="Next"
                           th:if="${currentPage <= totalPages}" th:href="@{'/cars/page/' + ${currentPage + 1}}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>

                    <li class="page-item" th:classappend="${currentPage >= totalPages} ? disabled : ''">
                        <a class="page-link" th:href="@{'/cars/page/' + ${totalPages}}">
                            <span aria-hidden="true">Last</span>
                        </a>
                    </li>
                </ul>
            </nav>























        </div>
    </div>
</section>
</body>
<div th:replace="fragments/footer :: footer"></div>

</html>